.Router {position: absolute;width: 100%;transition: all .5s ease;}
.slide-left-enter,.slide-right-leave-active {-webkit-transform: translate(100%, 0);}
.slide-left-leave-active,.slide-right-enter {-webkit-transform: translate(-100%, 0);}